<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainpage.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Branch</h1>
    <p1>{∀x∈People ∃y∈Jobs | (x♥y)}</p1>
    <div class="center" style="text-align:center;">
        <form method ="post" action="/">
            <button class="btn btn-primary" type="submit" name="Start" value="Start">Start</button>
    </div>
</body>
</html>